body {
  background-color: rgb(37, 35, 39);
  color: beige;
}

.card {
  background-image: url(./img/background-card.png);
}

.card-body {
  background-color: black;
  color: bisque;
}

.card-title {
  font-weight: bold;
  color: rgb(87, 168, 123);
}

.list-group-item {
  background-color: black;
  opacity: 90%;
  color: bisque;
}

.img {
  max-width: 286px;
  max-height: 286px;
  object-fit: fill;
}

.col {
  max-width: fit-content;
}